@import "tailwindcss";

.noise__bg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 20;
}

.noise__bg:after {
  content: "";
  width: calc(100% + 30rem);
  height: calc(100% + 30rem);
  background-position: 50%;
  position: absolute;
  left: -10rem;
  top: -10rem;
  background-image: url('/noise.png');
  will-change: transform;
  -webkit-animation: bg-animation .2s infinite;
  animation: bg-animation .2s infinite;
}

.play-btn svg {
  transition: .3s ease all;
}
/* 
.play-btn:hover svg {
  fill: #fff;
} */

@keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}

